<section class="recipe recipe-list-item oxygen-regular">

    <div class="recipe-cover">
        <img src="{{recipe.cover.url}}" alt="temp">
    </div>
    <article class="recipe-title-container">
        <h2 class="recipe-title">{{recipe.title}}</h2>
    </article>

    <article class="recipe-author">
        <span class="recipe-author-item">
            <i class="fa-solid fa-user"></i>
            {% if recipe.author.first_name %}
            <p>{{recipe.author.first_name}}</p>
            {% else %}
            <p>{{recipe.author.user_name}}</p>
            {% endif %}
        </span>
        <span class="recipe-author-item">
            <i class="fa-solid fa-calendar-days"></i>
            <p>{{recipe.created_at|date:"d/m/Y"}}</p>
        </span>
        <span class="recipe-author-item">
            <a href="{% url 'category' recipe.category.id %}">
                <i class="fa-solid fa-tag"></i>
                <p>{{recipe.category.name}}</p>
            </a>
        </span>
    </article>

    <article class="recipe-content">
        <p>{{recipe.description}}</p>
    </article>

    <article class="recipe-meta-container">
        <div class="recepi-meta recipe-preparation">
            <span class="recipe-meta-title">
                <i class="fa-solid fa-clock"></i>
                <h3>Preparo</h3>
            </span>
            <div class="recipe-meta-text">
                <p>{{recipe.preparation_time}} {{recipe.preparation_time_unit}}</p>
            </div>
        </div>
        <div class="recepi-meta recipe-servings">
            <span class="recipe-meta-title">
                <i class="fa-solid fa-pizza-slice"></i>
                <h3>Porções</h3>
            </span>
            <div class="recipe-meta-text">
                <p>{{recipe.servings}} {{recipe.servings_unit}}</p>
            </div>
        </div>
    </article>
    {% if not is_detail %}
    <footer class="recipe-footer">
        <a href="{% url 'recipe_view' 1 %}" class="recipe-read-more button button-dark button-full-width">
            <span><i class="fa-solid fa-circle-plus"></i>
                <h4>ver mais ...</h4>
            </span>
        </a>
    </footer>
    {% endif %}

    {% if is_detail %}
    <article class="preparation-steps">
        <p>{{ recipe.preparation_steps }}</p>
    </article>
    {% endif %}

</section>